$image-theme-path-base  :'../../../images/';
$font-path              : '../../../fonts/';
$woo-font-path          : '../../../fonts/woocommerce/';
$theme-color            : #FF4A17;
$link-hover-color: 		#FF4A17;